@model OnlineSchool.Models.Course

@{
    ViewData["Title"] = "Редактирование курса";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <form asp-controller="Courses" asp-action="EditCourse" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-gr">
                <label asp-for="Title" class="control-label">Название курса</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-gr">
                <label asp-for="Description" class="control-label">Описание курса</label>
                <textarea asp-for="Description" class="form-control" cols="20" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-gr">
                <label asp-for="PhotoPath" class="control-label">Фото</label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <input class="but" type="submit" value="Сохранить изменения" /> 
        </form>
    </div>

    <div>
        <a asp-action="AddCourses">Вернуться к списку курсов</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
