@model IEnumerable<OnlineSchool.Models.Course>

@{
    ViewData["Title"] = "Просмотр курсов";
}

<h1>@ViewData["Title"]</h1>
<hr />
@foreach (var item in Model)
{
    <div class="course">
        <div class="course-group">
            <h3><a class="course-title" asp-controller="Courses" asp-action="WatchCourse" asp-route-id="@item.Id">@item.Title</a></h3>
            <p>@item.Description</p>
        </div>
        <div class="course-group">
            <img class="photo" src=@item.PhotoPath
             alt="фото курса">
        </div>
    </div>
}
